/* about area */

.about-area {}

.about-top-wrapper {
    max-width: 700px;
    margin: auto;
}

.about-top-contents {
    &-title {
        font-size: 48px;
        line-height: 55px;
        margin: -6px 0 0;
        @include responsive(allPhone) {
            font-size: 42px;
            line-height: 48px;
        }
        @include responsive(xs) {
            font-size: 36px;
            line-height: 42px;
        }
        @include responsive(xxs) {
            font-size: 32px;
            line-height: 36px;
        }
        @include responsive(vxxs) {
            font-size: 28px;
        }
    }
    &-para {
        color: var(--extra-light-color);
        font-size: 16px;
        line-height: 28px;
        @include responsive(xxs) {
            font-size: 15px;
            line-height: 26px;
        }
        @include responsive(vxxs) {
            font-size: 14px;
        }
    }
}


/* About Bottom area */

.about-bottom-extra-padding {
    padding-bottom: 270px;
    @include responsive(allPhone) {
        padding-bottom: 0;
    }
}

.about-bottom-area {
    margin-top: -275px;
    @include responsive(allPhone) {
        margin-top: 0;
    }
}

.single-about {
    &-contents {
        background-color: $white;
        @include box-shadow(0, 0, 20px, rgba($steam-color, .5));
        padding: 30px;
        margin-left: 30px;
        margin-top: -100px;
        position: relative;
        @include responsive(allPhone) {
            padding: 20px;
        }
        @include responsive(vxxs) {
            margin-left: 0;
            margin-top: 0;
        }
        &-title {
            font-size: 28px;
            line-height: 32px;
            margin: -6px 0 0;
            @include responsive(allPhone) {
                font-size: 24px;
            }
        }
        &-para {
            font-size: 16px;
            line-height: 26px;
            @include responsive(xxs) {
                font-size: 15px;
            }
            @include responsive(vxxs) {
                font-size: 14px;
            }
        }
    }
}


/* About Counter Left Content */

.about-counter-left-wrapper {}

.about-counter-left-content {
    &-title {
        font-size: 48px;
        line-height: 56px;
        margin: -8px 0 0;
        @include responsive(xl) {
            font-size: 42px;
            line-height: 48px;
        }
        @include responsive(lg) {
            font-size: 42px;
            line-height: 48px;
        }
        @include responsive(allPhone) {
            font-size: 36px;
            line-height: 42px;
        }
        @include responsive(vxxs) {
            font-size: 28px;
            line-height: 32px;
        }
    }
    &-para {
        font-size: 16px;
        line-height: 28px;
        @include responsive(xxs) {
            font-size: 15px;
        }
    }
}